.chead{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 60%;
}
.cart_head{
    margin:20px 0;
    width: 85%;
    /* border: 1px solid black; */
    border: 1px dotted black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}
.cardpage_small_img img{
    width: 12rem;
    height: 7.6rem;
    padding-top: 4px;
    object-fit: cover;
    padding-left: 10px;
}


/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
.cart_name_respage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    font-size: 1rem;
    
}
.dish_namecard{
    color: orangered;
    font-size: 1.2rem;

}


.button-41 {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  margin-bottom: 50px;
  
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 44px;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
}

.button-41:hover {
  background: #00bd68;
}

.sum_cart_payment{
  display: none;
}
.button-41 alert{
  background-color: #00BD68;
}
.empty_Cart_image{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.empty_Cart_image h3{
  text-align: center;
  font-size: 1.2rem;
}
.empty_Cart_image img{
  height:460px;
  width: 750px;
}