.home_head{
    text-align: center;
    color: orangered;
    font-size: 1.2rem;
    font-weight: 800;
    /* padding: 20px; */
    /* margin-bottom: 10px; */
    margin-top: 20px;
}
.home_head:hover{
    cursor: pointer;
}
.form_main_owner{
    position: relative;
    left: 35%;
    padding-bottom: 20px;
}
.form_main_owner form{
    /* padding-top: 20px; */
    border: 1px solid black;
    /* background-color: rgb(226, 220, 220); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28rem;
    line-height: 15px;
    height: 500px;
    /* box-shadow:  3px 3px rgb(241, 97, 45), -0.5em 0 .4em rgb(131, 131, 128); */
  
}
.input_owner12{
    width: 280px;
    border-radius: 5px;
}
.click_oh{
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    /* padding-left: 40rem; */
    margin-left: 40%;
}
.btn{
    color: black;
}
.owner_home_main{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    flex-wrap: wrap;
}
.order_head_home{
    margin: 5% 0 0 8%;
}
.marquee:hover{
    scroll-behavior: none;
}